@{
}

<h2>Conta Online</h2>

<p>Bem vindo ao sistema de Contas On Line</p>
<hr />
<ul class="list-group">
    <li class="list-group-item-dark">
        <a asp-controller="ContaCorrente" asp-action="Inicio">Conta Corrente</a>
    </li>
    <li class="list-group-item-dark">
        <a href="#">Categorias de Conta</a>        
    </li>
    <li class="list-group-item-dark">
        <a href="#">Contatos</a>
    </li>
    <li class="list-group-item-dark">
        <a href="#">Contas a Pagar Receber</a>
    </li>
    <li class="list-group-item-dark">
        <a href="#">Relatórios</a>
    </li>
</ul>
